/XFormsRadioButton/XFormsRadioButton/bin
/XFormsRadioButton/XFormsRadioButton/obj
/XFormsRadioButton/XFormsRadioButton.Android/bin
/XFormsRadioButton/XFormsRadioButton.Android/obj
/XFormsRadioButton/XFormsRadioButton.iOS/bin
/XFormsRadioButton/XFormsRadioButton.iOS/obj
/XFormsRadioButton/XFormsRadioButton.WinPhone
/packages
